.header{
    height: 50px;
    width: 100%;
    background-color: rgb(74 55 32 / 50%);
    box-shadow: -2px -1px 2px 2px;
    display: flex;
    justify-content: center;
    position: absolute;

    h2{
        padding: 0px;
        margin-top:auto;
        margin-bottom: auto;
        height: 20px;
    }
}

.titulo{
    display: flex;
    justify-content: center;
    width: 100%;
}

.log{
    display: flex;
    justify-content: end;
    width: auto;

   

    .imagenLog:hover{
        cursor: pointer;
    }
}
