
<div class="headerLoggin">

    <div class="homeBack">
        <img src="assets/icons/home.png" class="homeImg" [routerLink]="['/']">
    </div>

    <div class="titulo">
        <h2>Bienvenido!</h2>
    </div>

</div>

<div class="dadLoggin">
    <div class="childLoggin">
        <img src="assets/icons/usuario.png">

        <div class="formulario">
            <div class="formInput">
                <span>Email</span><input type="text">

            </div>
            <div class="formInput">
                <span>Password</span><input type="password">

            </div>

            <div class="formButton">
                <button class="boton" (click)="loggin()">Iniciar Sesión</button>
                <app-spinner *ngIf="activado"></app-spinner>
            </div>
        </div>
    </div>
</div>